.DS_Store
/.build
.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
Benchmarks/.build
Benchmarks/.swiftpm
.netrc
.vscode
.coverage
.test-logs
test.*
.manifests
.swiftpm
*.swp
.swift-version
Bundle
node_modules
*.wasm
Package-lock.json
JavaScriptKit_JavaScriptKit.resources
.gitlab-known-hosts